<!DOCTYPE html>
<html>
<body>

<audio controls>
  <source src="/public/wav/hello1.wav" type="audio/wav">
</audio>

<br>
<button id="hide" type="button">hide</button>
<button id="show" type="button">show</button>
<button id="change" type="button">change wav</button>
<button id="play" type="button">play</button>
<button id="load" type="button">load</button>
<br>
<br>
<input id="input" type="text"></input>


<script src="/public/js/jquery-2.1.3.min.js"></script>
<script src="/public/js/index.js"></script>
</body>
</html>
